#ScreenSaver
  height 1080px
  width 1920px
  overflow hidden
  z-index -1
  padding 0
  margin 0
  position absolute
  top 0
  left 0

  &.active
    z-index 999999999999999999
    
  .kb-slide
    position absolute
    top 0
    left 0
    z-index 1
    opacity 0

    img
      position relative
      transform translate3d(0, 0, 0)
      backface-visibility hidden
