.ScreenSaverContainer
  z-index 2
  border 0

.BackLink
  position absolute
  top 0
  left 0
  z-index 54

.DateTime
  z-index 50

#ScreenSaver .swiper-container
  position relative
  width 1920px
  height 1080px
