@require('../../assets/styles/vars.styl')

.LinkBox
  display block
  width 822px
  height 145px
  position relative
  overflow hidden
  background-color $navy
  box-shadow: 3px 6px 23px $black-alpha
  margin-bottom 88px
  text-decoration none
  text-transform uppercase
  transition transform 200ms linear
  transform translateZ(0)
  backface-visibility hidden
  perspective 1000

  svg
    position absolute
    top 0
    left 0

  line
    stroke-width 2
    stroke $white
    fill none
    stroke-dasharray 382
    transition transform .155s ease-in

  &__Link
    color $white
    font-family 'stratum'
    font-size 85px
    line-height 145px
    margin-right 10px
    text-align center

  &.active
    box-shadow none
    transform scale3d(.98, .98, 1)

    & svg line.top
      transform translateX(-297px)

    & svg line.bottom
      transform translateX(297px)

    & .LinkBox__Link
      color $gold
      box-shadow: 3px 6px 23px $black-alpha
