@require('../../assets/styles/vars.styl')

.LinkBox
  display block
  width 822px
  height 145px
  position relative
  overflow hidden
  background-color $navy
  box-shadow: 3px 6px 23px rgba(0, 0, 0, .27)
  margin-bottom 88px
  text-decoration none
  text-transform uppercase

  svg
    position absolute
    top 0
    left 0

  line
    stroke-width 2
    stroke $white
    fill none
    stroke-dasharray 382
    transition transform .155s ease-in

  &__Link
    color $white
    font-family 'stratum'
    font-size 48px
    line-height 145px
    margin-right 10px
    padding-left 58px

  &:hover
    box-shadow 0 0 0 $black

    & svg line.top
      transform translateX(-297px)

    & svg line.bottom
      transform translateX(297px)

    & .LinkBox__Link
      color $gold
      box-shadow: 3px 6px 23px rgba(0, 0, 0, .27)
