@require('../../assets/styles/vars.styl')

.LinkBox
  width 822px
  height 145px
  position relative
  overflow hidden
  background-color $navy
  box-shadow: 3px 6px 23px rgba(0,0,0,0.27);
  margin-bottom: 85px

  &:hover
    box-shadow 0 0 0 #000;
    transition box-shadow .03s linear

    a
      color $gold
      transition color .175s ease-out

    & svg line.top
      transform translateX(-297px)
    & svg line.bottom
      transform translateX(297px)
  svg
    position absolute
    top 0
    left 0

  line
    stroke-width 2
    stroke #fff
    fill none
    stroke-dasharray 382
    transition transform .175s ease-out

  &__Link
    color $white
    font-family 'stratum'
    font-size 48px
    line-height 145px
    margin-right 10px
    padding-left 58px
    text-decoration none
    text-transform uppercase
