$white = #fff
$black = #000
$white-alpha = #afbbbd
$gold = #c7a567
$navy = #0e182d
$navy-alpha = #161f34
$grey = #1c1c1c
$light-grey = #515356


$sidebar-width = 300px

.Page
  background-color $navy
  background-image url('../../assets/images/homepage-bg.jpg')
  background-position 0 0
  background-repeat no-repeat
  height 1080px
  overflow hidden
  position relative
  width 1920px
  border-top 15px solid $gold
  border-bottom 15px solid $gold
  box-sizing border-box

.SideBarPage
  padding-left $sidebar-width + 20
