@require('../../assets/styles/vars.styl')

.DateTime
  position absolute
  top 0
  left 0
  padding 200px 0 0 100px

  .Date
    font-size 90px
    padding 20px 50px
    background-color $black-alpha

  .Time
    font-size 64px
    padding 0 50px 20px
    background $black-alpha !important
