@require('../../assets/styles/vars.styl')

.DateTime
  position absolute
  top 100px
  left 100px
  z-index 10

  .Date
    font-size 90px
    padding 50px 50px 0px
    background-color $black-alpha

  .Time
    font-size 72px
    padding 0 0 50px 50px
    background $black-alpha !important
