@require('../../assets/styles/vars.styl')

h1
  font-family 'alte-din'
  color $navy
  text-transform uppercase
  
nav
  a
    color $gold
    font-family 'stratum-bold'
    text-transform uppercase
    margin-right 10px
