@require('../../assets/styles/vars.styl')

.HomePage
  background-color $navy
  background-image url('../../assets/images/homepage-bg.jpg')
  background-position 0 0
  background-repeat no-repeat
  height 1080px
  overflow hidden
  position relative
  width 1920px

.GoldLine
  background-color $gold
  height 10px
  position absolute
  width 100vw

  &--Top
    top 0

  &--Bottom
    bottom 0

.Seal
  position absolute
  left 150px
  top 100px

.MainMenu
  left 50%
  position absolute
  top 100px
